@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Playfair+Display:ital@1&family=Poppins:wght@100&family=Zeyada&display=swap');

:root{
    --orange:#ff7a00;
}


*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    transition: all .2s linear;
    /* text-transform: capitalize; */
    font-family: 'Exo 2', sans-serif;
    

}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    overflow-x:hidden ;
   
}
.name-text{
    width: 300px;
    height: 100px;
    object-fit: contain;
}

.heading{
    font-size: 4rem;
    text-align: center;
    letter-spacing: 1.7rem;
    color: #444;
    margin: 2rem 0;
    padding-top: 6rem;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: var(--orange);
    text-underline-offset: -1.4rem;
}


.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: #fff;
    z-index: 100;
    padding: 1rem 2rem;
    box-shadow: 0 .2rem .5rem rgba(0,0,0,0.3);
}
.header .logo img{
    height: 4rem;
}
.header nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    padding: 0px;
}
.header nav ul li{
    margin: 0 1.5rem;
}
.header nav ul li a{
    font-size: 2rem;
}
.header nav ul li a:hover{
    color: #666;
    text-decoration: none;
}


/* menu button */
.header .fa-bars{
    font-size: 2rem;
    color: #666;
    cursor: pointer;
    display: none;
}

 


/*====================================== carousel starts============================== */
.cont{
    height: 100vh;
}
.cont img{
   height: 695px;
   object-fit: cover;
}
.cont img.anim{
    transition: all .5s ease-in-out;
}



/* ===================================carousel Ends=================================== */


/* Counting */
.home .counting{
    min-height: 40vh;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.home .counting .box{
    margin: 2rem 4rem;
    text-align: center;
}
.home .counting .box .count{
    font-size: 7rem;
    color: #444;
}
.home .counting .box h3{
    font-size: 2rem;
    color: var(--orange);
}

.about{
    min-height: 100vh;
    padding-bottom: 3rem;
}


.hslogo{
    width: 100px;
    height: 100px;
}
.hero
{
    width: 100%;
    min-height: 100vh;
    background-image: url(images/back-image.png);
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
    position: relative;
}
nav
{
    font-size: 18px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}
nav ul li a
{
    text-decoration: none;
    color: #333;
    font-weight: 400;
}

.feature-img.anim{
    animation-delay: 1.5s;
}
.anim
{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}
@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}



/* =======================================About====================================== */





.about-body{
    background: #dee0e3;
    height: 150vh;
}
.heading1{
    text-align: center;
    margin-top: 25px;
}
.heading1 h1{
    font-size: 50px;
    color: #36455c;
    margin-bottom: 10px;
}
.heading1 p{
    font-size: 20px;
    color: #666;
    margin-bottom: 100px;
}
.about-us{
    display: flex;
    align-items: center;
    width: 85%;
    margin: auto;
}
.about-us img{
    flex: 0 50%;
    max-width: 50%;
    height: auto;
}
.content1{
    padding: 35px;
}
.content1 h2{
    color: #36455c;
    font-size: 24px;
    margin: 15px 0px;
}
.content1 p{
    color: #666;
    font-size: 18px;
    line-height: 1.5;
    margin: 15px 0px;
}
.read-more-btn{
    display: inline-block;
    color: #fff;
    background: #0084ff;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: .5s ease-in-out;
}
.read-more-btn:hover{
    background: #006dd6;
}
/* ===============================================about end========================== */



/* ==============================================service starts======================== */

/* =========================================Service starts============================= */

.body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fff;
    margin-top: 80px;
    margin-bottom: 150px;
    
}
.container2{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 60px 0;
    gap: 60px;
}
.container2 .box1{
    position: relative;
    width: 300px;
    height: 350px;
    background: #2e2e2e;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container2 .box1::before{
    content:'';
    position: absolute;
    inset: -10px 50px;
    border-top: 4px solid var(--clr);
    border-bottom: 4px solid var(--clr);
    z-index: -1;
    transform: skewY(15deg);
    transition: 0.5s ease-in-out;
}
.container2 .box1:hover::before{
    transform: skewY(0deg);
    inset: -10px 40px;
    
}
.container2 .box1::after{   
    content:'';
    position: absolute;
    inset: 60px -10px;
    border-left: 4px solid var(--clr);
    border-right: 4px solid var(--clr);
    z-index: -1;
    transform: skew(15deg);
    transition: 0.5s ease-in-out;
}
.container2 .box1:hover::after{
    transform: skew(0deg);
    inset: 40px -10px;
}

.container2 .box1 .content1{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 0 20px;
    width: 100%;
    height: 100%;
    overflow: hidden;

}
.container2 .box1 .content1 .icon1{
    color: var(--clr);
    width: 80px;
    height: 80px;
    box-shadow: 0 0 0 4px #2e2e2e,
    0 0 0 6px var(--clr);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5em;
    background: #2e2e2e;
    transition: 0.5s ease-in-out;
}
.container2 .box1:hover .content1 .icon1{
    background: var(--clr);
    color: #2e2e2e;
    box-shadow: 0 0 0 4px #2e2e2e,
    0 0 0 300px var(--clr);
}
.container2 .box1 .content1 .text1 h3{
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
    transition: 0.5s ease-in-out;
}
.container2 .box1:hover .content1 .text1 h3{
    color:#2e2e2e;
}

.container2 .box1 .content1 .text1 p{
    color: #999;
    transition: 0.5s ease-in-out;
}

.container2 .box1:hover .content1 .text1 p{
    color: #2e2e2e;
}
.container2 .box1 .content1 .text1 a{
    position: relative;
    background: var(--clr);
    color: #2e2e2e;
    padding: 8px 15px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    transition: 0.5s ease-in-out;
}
.container2 .box1:hover .content1 .text1 a{
    background: #2e2e2e;
    color: var(--clr);
}


/* ========================================service ends=============================== */
/* ========================================project starts============================= */
.project{
    min-height: 100vh;
    background: #fff;
    margin-top: 100px;
    margin-bottom: 150px;
}
.project .heading{
    color: #333;
}
.project .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.project .box-container .box{
    height: 20rem;
    width: 40rem;
    margin: 2rem;
    border-radius: .5rem;
    box-shadow: 0 .2rem .5rem #000;
    overflow: hidden;
}
.project .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}



/* =========================================profiles starts=========================== */
#experts{
    padding: 8vw 8vw 8vw 8vw;
    text-align: center;
}
#experts .expert-box{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:1rem;
    margin-top: 50px; 
    
}
#experts .expert-box .profile:hover{
    background: #fafaf1;
   
}
.pro-links{
    margin-top: 10px;
}
.pro-links i{
    padding: 10px 13px;
    border: 1px solid rgb(21,21, 100);
    cursor: pointer;
    transition: 0.3s ease;
}
.pro-links i:hover{
    background: rgb(21,21, 100);
    color: #fff;
    border: 1px solid rgb(21,21, 100);
    cursor: pointer;
}
.profile .rakesh{
    object-fit: cover;
}
.profile .sir{
    object-fit: fill;
   
}
.profile .prof4{
    height: 300px;
    width: 300px;
    object-fit: cover;
}
#experts img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}



/* ===========================================project ends============================= */

/* ==========================================contact starts============================ */



.contact{
    position: relative;
    min-height: 100vh;
    padding: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url(images/pexels-ingo-joseph-188035.jpg);
    background-size: cover;
    background-position: center;
}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}

.contact .content p{
    font-weight: 300;
    color: #fff;
}
.container1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.container1 .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container1 .contactInfo .box0{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container1 .contactInfo .box0 .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 22px;
}
.container1 .contactInfo .box0 .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color:#fff;
    flex-direction: column;
    font-weight: 300;
}
.container1 .contactInfo .box0 .text h3{
    font-weight: 500;
    color: #00bcd4;
}
.contact-form{
    width: 40%;
    padding: 40px;
    background: #fff;
}
.contact-form h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contact-form .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contact-form .inputBox input,
.contact-form .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contact-form .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contact-form .inputBox input:focus ~ span,
.contact-form .inputBox input:valid ~ span,
.contact-form .inputBox textarea:focus ~ span,
.contact-form .inputBox textarea:valid ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.contact-form .inputBox input[type="submit"]
{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-top-left-radius: 30px;
    transition: all 0.5s ease-in-out;
}

.contact-form .inputBox input[type="submit"]:hover{
    border-top-left-radius:0px;
}

@media (max-width:991px)
{
    .contact{
        padding: 50px;
    }
    .container1{
        flex-direction: column;
    }
    .container1 .contactInfo{
        margin-bottom: 40px;
    }
    .container1 .contactInfo,.contact-form{
        width: 100%;
    }
}



#msg{
    color: #61b752;
    margin-top: -10px;
    display: block;
    font-size: 18px;
}


/* ============================================contact ends========================= */







/* ceo.html starts */

.contentc{
    font-size: 20px;
}
/* ceo.html ends */


/* found.html starts========================= */
.contentf{
    font-size: 20px;
    text-align: justify;
}



/* =====================found.html ends======================== */


/* ------------------------------aboutsap.html--------------------------------- */

.sap-services{
    padding: 8vw;
}
.sap-services h1{
    text-align: center;
    margin-bottom: 30px;
}
.sap-services .sap-img{
    width: 100%;
    height: 100vh;
    margin-bottom: 100px;
    object-fit: contain;
}
.sap-services p{
    font-size: 20px;
}

/* ------------------------------aboutsap.html ends------------------------------ */


/* --------------------------------aboutcloud.html-------------------------------- */



/* --------------------------------aboutcloud.html ends-------------------------------- */



.sap-services .wh{
    font-size: 25px;
    color: #000;
    margin-top: 20px;

}
.sap-services .wh p{
    color: #999;
}









/* profiles end */


/* ==========================profile ends========================================== */


/* ==========================================map starts============================ */

.hscon{
    padding: 8vw;
}
.hsmap{
    width: 100%;
    height: 500px;
    
}


/* ======================================map ends=================================== */


/* ---------------------------careers.html------------------------- */
.container12{
    height: 130vh;
    width: 100%;
    /* display: grid; */
    /* grid-template-columns: 100px 100px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container .c-text{
    margin-bottom: 40px;
}
.container12 .c-text h1{
    text-align: center;
    font-size: 40px;
    color: #000;
}

.container12 .c-text h3{
    text-align: center;
    font-size: 15px;
    color: #999;
    
}
.container12 .form-box1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.container12 .form-box1 input{
    padding: 20px;
    width: 60vw;
    margin: 5px 0;
}
.container12 .form-box1 textarea{
    padding: 30px;
    width: 60vw;
    margin: 20px;
}
.container12 .attachement1{
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.container12 .submit1 input{
    font-size: 15px;
    width: 20vw;
    border: none;
    outline:0;
    padding: 10px;
    border-bottom: 2px solid #666;
    border-radius: 10px;
    box-shadow: 2px 3px 5px rgba(0,0,0,0.15);
    transition: background .5s;
}
.container12 .submit1 input:hover{
    box-shadow: none;
    background: linear-gradient(rgb(255, 166, 181),rgb(224, 217, 221));
}




/* ----------------------------careers.html end--------------------- */


/* gallery----------------------------------------------------- */
.gallery{
    width: 900px;
    display: flex;
    overflow-x: scroll;
}
.gallery div{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap:20px;
    padding: 10px;
    flex: none;
}
.gallery div img{
    width: 100%;
    filter: grayscale(100);
    transition: transform .5s ease-in-out;
}
.gallery::-webkit-scrollbar{
    display: none;
}
.gallery-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;

}
#backBtn,#nextBtn{
    width: 50px;
    cursor: pointer;
    margin: 40px;
}
.gallery div img:hover{
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
}



























/* --------------------gallery ends--------------------------------- */

























/* ======================================footer starts============================== */




.footer-body{
    background: #eef8ff;
}
footer{
    width: 100%;
    /* position: absolute; */
    bottom: 0;
    background:linear-gradient(to right,#00093c,#2d0b00);
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}
.roww{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.coll{
    flex-basis: 25%;
    padding: 10px;
}
.coll:nth-child(2),.coll:nth-child(3){
    flex-basis: 15%;
}
.logo{
    width: 80px;
    margin-bottom: 30px;
    object-fit: cover;
}
.coll h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}
.coll ul li{
    list-style:none;
    margin-bottom: 12px;
}
.coll ul li a{
    text-decoration: none;
    color: #fff;
}
.footer-form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}
.footer-form .fa{
    font-size: 18px;
    margin-right: 10px;
}
.footer-form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}
.footer-form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
.footer-form .fa-arrow-right{
    font-size: 16px;
    color: #ccc;
}
.footer-body .social-icons .fa{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}
.footer-body hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
.copyright{
    text-align: center;
}
.underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}
.underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}
@keyframes moving{
    0%{
        left:-20px;
    }
    100%{
        left:100%;
    }
}


@media (max-width:700px){
    footer{
        bottom: unset;
    }
    .coll{
        flex-basis: 100%;

    }
    .coll:nth-child(2),.coll:nth-child(3){
        flex-basis: 100%;
    }
    .about-body {
        background: #dee0e3;
        height: 250vh;
        text-align: justify;
    }
}

/* =====================================footer ends===================================== */












/* MENU BUTTON X ROTATION FOR RESPONSIVE */
/* .fa-times{
    transform: rotate(180deg);
} */

/* media queries */
/* @media (max-width:768px){ */
    /* html{
        font-size: 50%;
    }
    .header .fa-bars{
        display: block;
    }
    .header nav{
        position: fixed;
        top: 6rem;
        right: -120%;
        height: calc(100vh - 6rem);
        width: 100vw;
        background: rgba(0,0,0,.5);
        z-index: 1000;
        border-top: .1rem solid rgba(0,0,0,.3);
    }
    .header nav ul{
        height: 100%;
        width: 33rem;
        background: #fff;
        flex-flow: column;
        justify-content: center;
        float: right;
    }
    .header nav ul li{
        margin: 1rem 0;
    }
    .header nav ul li a{
        display: block;
        padding: 2rem 0;        
        border-top: .1rem solid rgba(0,0,0,.3);
        width: 25rem;
        border-radius: 5rem;
        text-align: center;
    }
    .header nav ul li a:hover{
        background: #333;
        color: #fff;
    }
    .header .nav-toggle{
        right: 0;
    }

} */



/* @media (max-width:400px){
    .home .hero .text1{
        font-size: 3.5rem;
        width: 35rem;
    }
    .home .hero .text2{
        font-size: 2.5rem;
        width: 32rem;
    }
} */